@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}

.box{
	width: 210px;
}

ul{
	list-style:none;
}
a{
	text-decoration:none;
}
/* Caja Negra */
/* Foto */
.model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.box:hover{
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover{
	transition: all ease 0.50s;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}

img {
	opacity: 1.0;
  }
  
  img:hover {
	opacity: 0.8;
  }
